<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" type="text/css" href="/styles/main.css"></head>
<body>
  </div>
  <h2>Details for: {{name}}</h2>
  {{#if result}}
    <li><strong>Album Name:</strong> {{ result.name }}</li>
    <li><strong>Release Date:</strong> {{ result.year }}</li>
    <li><strong>Label:</strong> {{ result.label }}</li>
    
    <p id="left"><a href="/delete?name={{ result.name }}">Delete</a></p>
    <p id="right"><a href="/">New Search</a></p>
  {{else}}
    There is no record for that album.
  {{/if}}
  </div>
</body>
</html> 